# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
*.egg

# VSCode Folder
.vscode
.vscode/*

# Videos, Logs, Hydra outputs
SAC/Logs/*
SAC/Videos/*
outputs/*

# TODO List
TODO.todo

# Test Files
Test/*
