# Examples SubModules

[submodule "DeepRL_Algorithms"]
	path = Examples/DeepRL_Algorithms
	url = https://github.com/RITCHIEHuang/DeepRL_Algorithms.git

[submodule "lightning-baselines3"]
	path = Examples/lightning-baselines3
	url = https://github.com/HenryJia/lightning-baselines3.git

[submodule "Meta-SAC"]
	path = Examples/Meta-SAC
	url = https://github.com/twni2016/Meta-SAC.git

[submodule "PEBL"]
	path = Examples/PEBL
	url = https://github.com/j0rd1smit/PEBL.git

[submodule "Popular-RL-Algorithms"]
	path = Examples/Popular-RL-Algorithms
	url = https://github.com/quantumiracle/Popular-RL-Algorithms.git

[submodule "research-lightning"]
	path = Examples/research-lightning
	url = https://github.com/jhejna/research-lightning.git

[submodule "RL-v2"]
	path = Examples/RL-v2
	url = https://github.com/bhatiaabhinav/RL-v2.git

[submodule "safety-starter-agents"]
	path = Examples/safety-starter-agents
	url = https://github.com/openai/safety-starter-agents.git

[submodule "Soft-Actor-Critic"]
	path = Examples/Soft-Actor-Critic
	url = https://github.com/Fable67/Soft-Actor-Critic.git

[submodule "softlearning"]
	path = Examples/softlearning
	url = https://github.com/rail-berkeley/softlearning.git

# WCSAC Sub-Modules

[submodule "dmc2gym"]
	path = Examples/WCSAC/dmc2gym
	url = https://github.com/denisyarats/dmc2gym.git

[submodule "safety-gym"]
	path = Examples/WCSAC/safety-gym
	url = https://github.com/davideferrari95/safety-gym.git

[submodule "wcsac-lagrangian"]
	path = Examples/WCSAC/wcsac lagrangian [PyTorch]
	url = git@github.com:davideferrari95/wcsac.git
	branch = sac-lagrangian

[submodule "wcsac"]
	path = Examples/WCSAC/wcsac [PyTorch]
	url = git@github.com:davideferrari95/wcsac.git
	branch = wcsac

[submodule "wcsac+"]
	path = Examples/WCSAC/wcsac+ [PyTorch]
	url = git@github.com:davideferrari95/wcsac.git
	branch = wcsac+

[submodule "WCSAC"]
	path = Examples/WCSAC/WCSAC [Original]
	url = https://github.com/AlgTUDelft/WCSAC.git
