# Examples SubModules

[submodule "DeepRL_Algorithms"]
	path = Examples/DeepRL_Algorithms
	url = https://github.com/RITCHIEHuang/DeepRL_Algorithms.git

[submodule "lightning-baselines3"]
	path = Examples/lightning-baselines3
	url = https://github.com/HenryJia/lightning-baselines3.git

[submodule "Meta-SAC"]
	path = Examples/Meta-SAC
	url = https://github.com/twni2016/Meta-SAC.git

[submodule "PEBL"]
	path = Examples/PEBL
	url = https://github.com/j0rd1smit/PEBL.git

[submodule "Popular-RL-Algorithms"]
	path = Examples/Popular-RL-Algorithms
	url = https://github.com/quantumiracle/Popular-RL-Algorithms.git

[submodule "research-lightning"]
	path = Examples/research-lightning
	url = https://github.com/jhejna/research-lightning.git

[submodule "RL-v2"]
	path = Examples/RL-v2
	url = https://github.com/bhatiaabhinav/RL-v2.git

[submodule "safety-starter-agents"]
	path = Examples/safety-starter-agents
	url = https://github.com/openai/safety-starter-agents.git

[submodule "Soft-Actor-Critic"]
	path = Examples/Soft-Actor-Critic
	url = https://github.com/Fable67/Soft-Actor-Critic.git

[submodule "softlearning"]
	path = Examples/softlearning
	url = https://github.com/rail-berkeley/softlearning.git

[submodule "wcsac"]
	path = Examples/wcsac
	url = https://github.com/acl21/wcsac.git

[submodule "WCSAC"]
	path = Examples/WCSAC
	url = https://github.com/AlgTUDelft/WCSAC.git