# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
*.egg

# VSCode Folder
.vscode/c_cpp_properties.json
.vscode/settings.json

# Videos, Logs
SAC/Logs/*
SAC/Videos/*
